{% extends "base.html" %}
{% block app_content %}
{% if message %}
    <h1>{{ message }}</h1>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.title.label}}</td>
            <td>{{ form.title(size=32)}}</td>
        </tr>
        <tr>
            <td>{{ form.location.label}}</td>
            <td>{{ form.location(size=32)}}</td>
        </tr>
        <tr>
            <td>{{ form.year.label}}</td>
            <td>{{ form.year(size=12)}}</td>
        </tr>
        <tr>
            <td>{{ form.lenght.label}}</td>
            <td>{{ form.lenght(size=6)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><h3>medium</h3></td>
        </tr>
        <tr>
            <td>{{ form.medium.label}}</td>
            <td>{{ form.place.label}}</td>
            <td>{{ form.number.label}}</td>
        </tr>
        <tr>
            <td>{{ form.medium(size=6)}}</td>
            <td>{{ form.place(size=6)}}</td>
            <td>{{ form.number(size=6)}}</td>
        </tr>
        <tr>
            <td><h3>Add performer:</h3></td>
            <td>{{form.addperformerfname.label}}</td>
            <td>{{form.addperformername.label}}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form.addperformerfname(size=16)}}</td>
            <td>{{ form.addperformername(size=16)}}</td>
        </tr>
        <tr>
            <td>{{ form.notes.label}}</td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <p>
        {{ form.notes(cols="48", rows="12") }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
