{% extends "base.html" %}
{% block app_content %}
{% if message %}
<h3>{{ message }}</h3>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{form.id.label}}</td>
            <td>{{form.firstname.label}}</td>
            <td>{{form.name.label}}</td>
        </tr>
        <tr>
            <td>{{form.id}}</td>
            <td>{{form.firstname}}</td>
            <td>{{form.name}}</td>
        </tr>

    </table>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
