{% extends "base.html" %}
{% block app_content %}
<h1>Search Input</h1>
{% if message %}
{{ message }}
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.title.label}}</td>
            <td>{{ form.title(size=7)}}</td>
        </tr>
        <tr>
            <td>{{ form.location.label}}</td>
            <td>{{ form.location(size=32)}}</td>
        </tr>
        <tr>
            <td>{{ form.year.label}}</td>
            <td>{{ form.year(size=4)}}</td>
        </tr>
        <tr>
        <td></td><td>medium</td>
        </tr>
        <tr>
            <td>{{ form.medium.label}}</td>
            <td>{{ form.medium(size=6)}}</td>
            <td>{{ form.place.label}}</td>
            <td>{{ form.place(size=6)}}</td>
        </tr>
        <tr>
            <td></td><td>{{ form.notes.label}}</td><td></td>
        </tr>
    </table>
        <p>
            {{ form.notes() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
</form>
{% endblock %}
