{% extends "base.html" %}
{% block app_content %}
{% if message %}
<h1>{{ message }}</h1>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td><h4>Performers:</h4></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><h5>ID</h5></td>
            <td><h5>Firstname</h5></td>
            <td><h5>Name</h5></td>
            <td><h5>Edit</h5></td>
            <td><h5>Delete</h5></td>
        </tr>
        {% for perf in performers %}
        <tr>
            <td>{{perf.id}}</td>
            <td>{{perf.firstname}}</td>
            <td>{{perf.name}}</td>
            <td><a href="{{ url_for('database.editperformer', performerid=perf.id) }}">edit</a></td>
            <td><a href="{{ url_for('database.deleteperformer', performerid=perf.id) }}">del</a></td>

        </tr>
        {% endfor %}
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td><h4>Add performer:</h4></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>First name</td>
            <td>Name</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form.addperformerfname(size=16)}}</td>
            <td>{{ form.addperformername(size=16)}}</td>
        </tr>

    </table>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
