{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <form action="" method="post">
        <h1>found {{ showscount}} Shows: </h1>
        {{ form.submit() }}
        {{ form.hidden_tag() }}
        <!-- Table -->
        <table class="table">
            {% include '_showheader.html' %}
            {% for show in shows %}
            <!--without subframe, to enable loop variable-->
            <tr valign="top">
                <td>{{ show.id }}</td>
                <td>{{ show.performerfirstname }}</td>
                <td>{{ show.performername }}</td>
                <td>{{ show.title }}, {{ show.location }}</td>
                <!--<td>{{ show.location }}</td>-->
                <td>{{ show.showdate }}</td>
                <td><input type='text' name="medium[{{ loop.index0 }}]" size="4" maxlength="6"
                           value='{{ show.medium }}'></td>
                <td>{{ show.number }}</td>
                <td><input type='text' name="length[{{ loop.index0 }}]" size="4" maxlength="6"
                           value='{{ show.lengthinmin }}'></td>
                <td><input type='text' name="place[{{ loop.index0 }}]" size="4" maxlength="6"
                           value='{{ show.place }}'></td>
                <td><a href="{{ url_for('database.edit', showid=show.id) }}">edit</a></td>
                <td><a href="{{ url_for('database.deleteshow', showid=show.id) }}">delete</a></td>

            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}
